##表格列项
#macro(tableColumn)
    #foreach($item in $tableConfig)
        #if($foreach.count==1)
        {
        label: '$item.desc',
        prop: '$item.field',
        'min-width': $item.minWidth,
        align: 'left'
        },
        #else
        {
        label: '$item.desc',
        prop: '$item.field',
        'min-width': $item.minWidth,
        },
        #end

    #end
#end
##请求表格数据
#macro(tableDataReq)
this.$request('${apiConfig.queryPageApi}', {
data: listQuery,
methods: "${apiConfig.queryPageApiType}"
})
.then((response) => {
this.dataSource.data = response.data
this.dataSource.pageData.total = response.total
})
.catch(() => {
})
#end