#parse("./utils.vm")
#parse("./zgj/zgj-test.vm")
当前时间 : $date.get('yyyy-MM-dd HH:mm:ss')

###set($str = "hello world")
###set($int = 1)
###set($arr = [1,2])
###set($boolean = true)
###set($map = {"key1":"value1", "key2":"value2"})
#### 在字符串中也可以引用之前定义过的变量
###set($str2 = "$str , how are you !")
###set($str3 = '$str , how are you !')
##
##${str}
##${int}
##${arr}
##${boolean}
##${map.key1}--${map.key2}
##${str2}
##${str3}
##
##
###if(1)
##
###elseif(2)
###end


###foreach($entry in $map.entrySet())
##    $entry.key --- $entry.value
##    $foreach.index
##    $foreach.count
###end


###parse("front-vms/test2.vm")
##
##
###define($table)
##aaa
###end
##
##$table
##$table
##$table
##
###set($name = "over")
##
###evaluate("#if($name=='over') over  #else  not over #end")
##
###if($name=='over')
##over
###else
##not over
###end
##
###macro(table $list)
##我是table方法 $list
###end
##
###table([1,2,3])

#fucTest([1,2,3,4])


$!date.format($now)
$date.format("yyyy-MM-dd HH:mm:ss",$now)
$date.get('yyyy-MM-dd HH:mm:ss')

$number.integer($myNumber)