##查询api
#macro(queryReq $config)
this.$request(
"${apiConfig.insertApi}",
{
data: this.formData,
methods: "${apiConfig.insertApiType}"
}
).then((response) => {
if (response.code === "200") {
this.$message.success("保存成功");
this.status = false;
this.successStatus = true;
}
});
#end

##保存api
#macro(insertReq $config)
this.$request(
"${apiConfig.insertApi}",
{
data: this.formData,
methods: "${apiConfig.insertApiType}"
}
).then((response) => {
if (response.code === "200") {
this.$message.success("保存成功");
this.status = false;
this.successStatus = true;
}
});
#end

##更新api
#macro(updateReq $config)
this.$request(
"${apiConfig.insertApi}",
{
data: this.formData,
methods: "${apiConfig.insertApiType}"
}
).then((response) => {
if (response.code === "200") {
this.$message.success("保存成功");
this.status = false;
this.successStatus = true;
}
});
#end

##删除api
#macro(deleteReq $config)
this.$request(
"${apiConfig.insertApi}",
{
data: this.formData,
methods: "${apiConfig.insertApiType}"
}
).then((response) => {
if (response.code === "200") {
this.$message.success("保存成功");
this.status = false;
this.successStatus = true;
}
});
#end

##详情
#macro(infoReq $config)
this.$request(
`${apiConfig.infoApi}/${editPageConfig.idKey}`,
{
method: "${apiConfig.infoApiType}",
}
)
.then((response) => {
this.formData = response.data;
this.status = true;
})
.catch(() => {
});
#end