#macro(configFormItem $config)
    #if($config.inputType=="input")
    <el-form-item label="型号名称" prop="name">
        <el-input
                v-model="formData.name"
                maxlength="16"
                clearable
                placeholder="请输入型号名称，例：H60C"
        />
    </el-form-item>

    #elseif($config.inputType=="select")
    <el-form-item label="可兼容车型" prop="carTypeList">
        <multi-special-tag
                v-model="formData.carTypeList"
                dict-code="carTypeEnum"
                placeholder="请选择"
                type="carType"
        />
    </el-form-item>

    #elseif($config.inputType=="textarea")
    <el-form-item label="备注" prop="remark">
        <el-input
                v-model="formData.remark"
                type="textarea"
                maxlength="100"
                show-word-limit
                autosize
                resize="none"
                clearable
                placeholder="请输入备注..."
        />
    </el-form-item>
    #end
#end



