#macro(formTemp $config)
    #foreach($item in $config)
        #if($item.componentConfig.componentType=="input")
        <el-form-item label="${item.desc}" prop="${item.field}">
            <el-input
                    v-model="formData.${item.field}"
                    maxlength="16"
                    clearable
                    placeholder="请输入${item.desc}"
            />
        </el-form-item>
        #elseif($item.componentConfig.componentType=="mst")
        <el-form-item label="${item.desc}" prop="${item.field}">
            <multi-special-tag
                    v-model="formData.${item.field}"
                    dict-code="carTypeEnum"
                    placeholder="请选择${item.desc}"
                    type="carType"
            />
        </el-form-item>
        #elseif($item.componentConfig.componentType=="textarea")
        <el-form-item label="${item.desc}" prop="${item.field}">
            <el-input
                    v-model="formData.${item.field}"
                    type="textarea"
                    maxlength="100"
                    show-word-limit
                    autosize
                    resize="none"
                    clearable
                    placeholder="请输入${item.desc}..."
            />
        </el-form-item>
        #end
    #end
#end
#macro(fromData $config)
formData: {
    $config.idKey: "",
    #foreach($item in $formConfig)
        $item.field:
    "",
    #end
}
#end
##获取得到formData属性
#macro(fromDataProp $config)
    $config.idKey: "",
    #foreach($item in $formConfig)
        $item.field:
    "",
    #end
#end



