#groupArrByKey($queryConfig,"inputType")
#macro(filterData $config)
filterData: {
labelWidth: '40px',
    #foreach($entry in $gabkMap.entrySet())
        $entry.field:
    [
        #foreach($item in $entry.value)
        {
        label: '$item.desc', // label
        key: '$item.field', // 字段名
        placeholder: '请输入$!{item.lable}名称' // 提示语
        },
        #end
    ],
    #end
#end