##请求表格数据
#macro(tableDataReq $config)
this.$request('${apiConfig.queryPageApi}', {
data: listQuery,
methods: "${apiConfig.queryPageApiType}"
})
.then((response) => {
this.dataSource.data = response.data
this.dataSource.pageData.total = response.total
})
.catch(() => {
})
#end